<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="app.css">
    <title>ChordStrike</title>
  </head>
  <body>
    <h1>ChordStrike</h1>
    <input type = 'text' name = 'search' placeholder = 'search...'>
    <nav>
      <form action='/songs/new' >
      <input type='submit' value = 'Add a song' />
    </form>
    <div class="container">
      <% for (let i = 0; i < songsIndex.length; i++) { %>
        <li>

          <a href = '/songs/<%=songsIndex[i].id%>'><img class = 'indexphoto' src = '<%= songsIndex[i].img %>'></img><a>
          <div> <%=songsIndex[i].title%> <br/> <%=songsIndex[i].artist%>
          </div>
          <audio controls>
            <source src= 'cdg.mp3' type= 'audio/mpeg'>
          </audio><br/>
          <form action='/songs/<%=songsIndex[i].id; %>/edit' >
          <input type='submit' value = 'EDIT' />
        </form>
          <form action="/songs/<%=songsIndex[i].id%>?_method=DELETE" method="POST">
          <input type='submit' value = 'DELETE' />
        </form>

        </li>

    <% } %>

    <audio src = './cdg.mp3' controls>

    </audio><br/>
    </div>
  </body>
</html>
